.center.forgotPassword{
    margin-top: 25px;
}

.center-form{
    margin: 0 auto;
}

.passwordOneChange{
    margin-bottom: 10px;
}

.passwordTwoChange{
    margin-bottom: 15px;
}

.settings-header{
    margin-top: 2.5%;
}